# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Secrets and environment configs
.env
.env.*
*.local

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.sqlite3

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
